
.layout-container {
    display: flex;
    justify-content: space-between;
}

.editor-container {
    max-width: 50%; 
    display: flex;
    flex-direction: column;
    flex: 1;
}

#code-editor {
    font-size: medium;
    height: 700px;
    border: 1px solid #ccc; /* visibility */
    margin-bottom: 10px; /* space between editor and buttons */
}

#display-container {
    flex: 1;
    width: 50%;
    height: 700px;
    border: 0.5px solid #ccc;  /* visibility */
    margin-left: 20px;
    position: relative;
    overflow: auto;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    gap: 10px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}


body {
    background-color: #121212; 
    color: #e0e0e0; 
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    background-color: #333; 
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.page-header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff; 
}


.editor-container, #display-container, .CodeMirror, .CodeMirror-scroll {
    background-color: #252526; 
    color: #fff; 
    border-color: #444; 
}

